@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styling */

#navbar{
    width: 100%;
    background-color: #000000;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    padding-left: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #fff;
}

#navbar ul li a{
    text-decoration: none;
    color: #fff;
}

#navbar ul li a:hover{
    color: #a17f1a;
}

.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}

.intro-section h1{
    margin: 2% auto;
}

.intro-section img{
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2%;
}

.intro-text{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

/* Project Section */ 

.project-section{
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-container{
    padding: 3%;
    border: 1px solid #fff;
    height: auto;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
}

.project-container h3{
    padding: 5px;
    color:#a17f1a
}

.project-container h4{
    padding: 5px;
    padding-bottom: 15px;
}

.project-container ul li{
    list-style: none;
    padding-bottom: 10px;
}

/* Styling the footer */

.footer{
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #000000;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-top: 200px;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-social-media-banner{
    display: flex;
    width: auto;
}

.footer-social-media-banner h5{
    color: #fff;
    white-space: nowrap;
}

.footer-social-media-banner a{
     padding-left: 15%;
     color: #fff;
}

.footer-social-media-banner a:hover{
    color: #a17f1a;
}

.footer h2{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 1%;
    padding-left: 1%;
}

.footer h4{
    color: #fff;
    padding-left: 1%;
    font-size: 13px;
}


/* Utilities */
.tech-outline{
    color: #a17f1a;
    font-weight: bold;
    font-size: 20px;
}