@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Styling */

#navbar{
    display: flex;
    width: 100%;
    background-color: #242333;
    height: 70px;
    align-items: center;
}

#navbar h2{
    color: #fff;
    margin-left: 10%;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin-left: 60%;
}

#navbar ul li{
    padding-left: 15px;
    color: #fff;
    white-space: nowrap;
}

#navbar ul li a{
    text-decoration: none;
    color: #fff;
}

#navbar ul li a:hover{
    color: #01B0D3;
}

.hamburger{
    display: none;
}

.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}

.intro-features{
    display: flex;
    margin: 2% auto;
}

.intro-section h1{
    margin: 2% auto;
    margin-top: 11%;
    width: 5%;
}

#title span{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

#title span:nth-of-type(1){
    margin-left: 28px;
    margin-bottom: 20px;
}

#title span:nth-of-type(1)::after{
    
}

#title span:nth-of-type(2){
    margin-bottom: 10px;
}

#title span:nth-of-type(3){
    margin-left: 15px;
    margin-top: 20px;
}

.intro-section img{
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2%;
}

.intro-text{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

/* Project Section */ 

.project-section{
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#project-section-title{
    margin: 20px auto;
    margin-bottom: 50px;
    width: auto;
    white-space: nowrap;
}

.project-wrapper{
    display: flex;
    justify-content: center;
}

.project-container{
    padding: 3%;
    border: 1px solid #fff;
    height: auto;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    min-width: 300px;
}

.project-container img{
    padding-top: 30px;
}

.project-container h3{
    padding: 5px;
    color: #01B0D3;
}

.project-container h3 a{
    text-decoration: none;
    color: #01B0D3;
}

.project-container h4{
    padding: 5px;
    padding-bottom: 15px;
}

.project-container ul li{
    list-style: none;
    padding-bottom: 10px;
}

.project-container:nth-of-type(2){
    margin-left: 2%;
    margin-right: 2%;
}

.project-container:nth-of-type(2) img{
    border-radius: 50%;
}

/* Styling the footer */

.footer{
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: #242333;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-top: 200px;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-social-media-banner{
    display: flex;
    width: auto;
}

.footer-social-media-banner h5{
    color: #fff;
    white-space: nowrap;
}

.footer-social-media-banner a{
     padding-left: 15%;
     color: #fff;
}

.footer-social-media-banner a:hover{
    color: #01B0D3;
}

.footer h2{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 1%;
    padding-left: 1%;
}

.footer h4{
    color: #fff;
    padding-left: 1%;
    font-size: 13px;
}


/* Utilities */
.tech-outline{
    color: #01B0D3;
    font-weight: bold;
    font-size: 20px;
}